html {
    height: 100%;
    width: 100%;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

h1{
    color: white;
    font-size: 70px;
    text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
}

h2{
    color: white;
    font-size: 30px;
}

h4{
    color: white;
}

hr{
    width: 30%;
}

.full-height {
    height: -moz-calc(100% - 50px);
    height: -webkit-calc(100% - 50px);
    height: -o-calc(100% - 50px);
    height: calc(100% - 50px);
}

.bg-1 {
    background: url("/images/index_background.jpg") no-repeat -100px 50px;
    height: 100%;
}

.bg-2 {
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}

.bg-3 {
    background-color: #ffffff; /* White */
    color: #555555;
}

.bg-4 {
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
}

.navbar {
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-nav li a:hover {
    color: #1abc9c !important;
}

.first-container {
    height: 100%;
    width: 100%;
}

.searchTerm{
    width: 100%;
}

.search-button{
    font-weight: bold;
}

.vertical-align{
    display: flex;
    align-items: center;
    min-height: 100%;
}

.horizontal-align{
    margin: auto;
}


.carousel-title {
    text-align: center;
    font-size: 45px;
    margin: 30px;
}

.carousel-container {
    margin: auto;
    width: 50%;
    height: 500px;
}