body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.button-margin {
    margin-left: 15px;
}

.central-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
}

.details {
    background-color: ghostwhite;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.image {
    height: 100%;
    width: auto;
    margin: auto;
}

.image-container {
    height: 100%;
}

.label {
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.posts-center {
    margin: auto;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 90%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.posts-left {
    height: 80%;
    width: 50%;
    float: left;
    margin: 10px;
}

.posts-right {
    height: 80%;
    width: 45%;
    float: left;
    margin: 10px;
    overflow-y: auto;
}

.post {
    background-color: ghostwhite;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
}

.purchase {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 4px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.return {
    text-align: left;
    margin: 20px;
    font-size: 20px;
}

.title {
    text-align: center;
}

.value {
    display: inline;
    color: black;
    font-size: 24px;
}