body {
    margin: 0;
    padding: 0;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.add-funds-container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 25%;
    height: 25%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 10px;
    overflow: auto;
    padding: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.add-funds-input {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.central-wrapper {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.label {
    color: black;
    font-weight: bold;
    font-size: 150%;
}

.left-container {
    float: left;
    width: 20%;
    margin-left: 5%;
}

.padding {
    padding: 20px;
}

.post {
    background-color: ghostwhite;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    overflow-x: auto;
}

.right-container {
    width: 40%;
    float: left;
    margin-left: 12.5%;

    background-color: rgba(230, 224, 224, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 4px;
    overflow: auto;
}

#posts{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 40%;
    height: 78%;
    background-color: rgba(230, 224, 224, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

#questions{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 40%;
    height: 78%;
    background-color: rgba(230, 224, 224, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

#sells{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 40%;
    height: 78%;
    background-color: rgba(230, 224, 224, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

#buys{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    width: 40%;
    height: 78%;
    background-color: rgba(230, 224, 224, 0.61);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: auto;
}

.tab-container {
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    height: 85%;
}

.button{
    background-color: #3d85b7;
    width: 100%;
    height: 120%;
    margin-bottom: 5%;
    font-size: 20px;
}

.tittle{
    margin-bottom: 2.5%;
}

.form-control{
    width: 70%;
    margin-left: 15%;

}

.button-container {
    display: inline-block;
}

/* tab */

.nav-tabs>li>a {
    background-color:  rgba(190, 190, 190, 0.877);
    color: black;
    font-size: 20px;
    cursor: pointer;
}

/* hover */

.nav-tabs>li>a:hover {
    border-color: rgb(129, 129, 129);
    background-color: rgb(218, 218, 218);
}

/* active */

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
    color: black;
    background-color: rgba(230, 224, 224, 0.61);
}