.ask-container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 23%;
    height: 32%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 10px;
    overflow: auto;
    padding: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.answer-container {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 38%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 10px;
    overflow: auto;
    padding: 8px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.questions-center {
    margin: auto;
    position: absolute;
    top: 5%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 80%;
    background-color: rgba(230, 224, 224, 0.61);
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.question {
    background-color: ghostwhite;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
}

.value{
    font-size: 20px;
}


.button-position{
    margin: auto;
}

.questions{
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 3%;
    height: 70%;
}
